@charset "UTF-8";

body {
    position: relative;
}

#wrap {
    max-width: 768px;
    margin: 0 auto;
    height: auto;
    border: 1px solid #d9d8d8;
}

#wrap header {
    padding: 20px;
    background: #a4b6ed;
    border-bottom: 1px solid #e2e2e2;
}

#wrap header h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


/*인덱스*/

#cont {}

#cont ul {
    width: 100%;
}

#cont ul li {
    width: 100%;
}

#cont ul li a {
    display: block;
    color: #2b6198;
    padding: 20px 0 20px 20px;
}

#cont ul li:nth-child(even) {
    background: #f2f6f8;
}

#cont ul li:last-child {
    border: none;
}


/*가이드 내용페이지*/

#cont_wrap {
    font-size: 16px;
}

#cont_wrap h4.num_title {
    font-size: 18px;
    color: #3d3d3d;
    padding: 20px 10px;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    background: #eff5fa;
    text-align: center;
}

#cont_wrap .gid_cont {
    padding: 20px;
}

#cont_wrap .gid_cont p {
    line-height: 1.5;
}

#cont_wrap .title {
    font-size: 16px;
    margin-top: 30px;
}

#cont_wrap .first_title {
    margin-top: 0;
}

#cont_wrap .gid_pic {
    display: inline-block;
    padding: 25px 0 5px;
}

#cont_wrap .gid_pic img {
    width: 80%;
    display: block;
}

.iconbox {
    padding: 10px 0 0;
}

.iconbox .iconindex {
    display: block;
    padding-bottom: 5px;
}

.iconbox .iconinfo {
    display: block;
    color: #525252;
}

.iconinfo img {
    width: 35px;
    vertical-align: middle;
    padding: 0 5px 3px 0;
}

.iconinfo img.imgsize {
    width: 25px;
    padding: 1px;
}

#cont_wrap .scription {
    color: #0072d3;
    word-break: break-all;
}

.sendmail {
    text-decoration: underline;
    color: #ea3998;
    font-weight: 600;
    vertical-align: top;
}

#cont_wrap .first_img {
    padding-top: 10px;
}

#cont_wrap .first_p {
    padding: 10px 0 0;
}

.spd {
    display: inline-block;
    padding: 4px 7px;
    background: #000;
    vertical-align: middle;
    margin-bottom: 3px;
}

.s10 {
    background-color: #ffb300;
}

.s20 {
    background-color: #ff5e00;
}

.s30 {
    background-color: #df0902;
}

.s40 {
    background-color: #810501;
}

.s50 {
    background-color: #8e21c4;
}

.txtbl {
    color: #719ff7;
    font-weight: bold;
}

.txtdeco {
    font-weight: bold;
    color: #ff7171;
    text-decoration: underline;
}

.golist {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.golist a {
    display: inline-block;
    color: #ffffff;
    background: #6f93f4;
    padding: 12px 50px;
    border-radius: 4px;
}

.mu_gobox {
    width: 100%;
}

.mu_go {
    color: #fff;
    padding: 8px 10px;
    display: block;
    background: #6f93f4;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
#cont_wrap .htxt{font-size: 18px;}
/* screen and  + all and 모두 가능
@media screen and (max-width: 480px){
	body{color: #ff0000;}
}
*/

#m_wrap {
    max-width: 768px;
    margin: 0 auto;
    height: auto;

}

#cont {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cont img {
    max-width: 100%;
    height: auto;
    border: 0;
    display: block;
}
